<!DOCTYPE html>
<html>
<head>
	<title>Modulo Consulta</title>
	<script src="{{asset('jquery-3.4.1.js')}}"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<style>
</style>
<body>
  <h1>Modulo de consultas</h1><label><p>La clave de la cita es: 00{{$id_cita1}}</p></label>
<label>Fecha: <input type="text" id="datepicker"></label><br>
<label>Hora: <input type="text"></label><br>
<label>Doctor:
  <select name = 'cat' id= 'cat'>
    @foreach($doctors as $doctor)
        <option value="{{$doctor->id_doc}}">{{$doctor->nombre}}</option>
    @endforeach
  </select>
</label><br>
    <div id="pro">
      <label disabled>Paciente:
        <select disabled> 
            <option>selecciona</option>
        </select>
      </label>
    </div>
    <div id="seguimiento">
      <label>Tipo de cita</label>
      <input type="radio" name="tiseg" id="tiseg" value="1" checked>Inicial
      <input type="radio" name="tiseg" id="ss1" value="2" >Seguimiento
    </div>
    <div id="aburricion">
      Historial del paciente:<br>
      <label>Nombre:<input class="form-control" type="text" name="" id=""></label><br>
      <label>Sintomas:<input class="form-control" type="text" name="" id=""></label><br>
      <label>Observación:<input class="form-control" type="text" name="" id=""></label>
    </div>    
	  <div id="tabseg">
			<table name="tblpac" border="1">
        <thead>
          <tr>
              <th>Nombre</th>
              <th>Teléfono</th>
              <th>Observaciones</th>
          </tr>
        </thead> 
        <tbody>
          <td></td>
          <td></td>
          <td></td>
        </tbody>
      </table>
    </div><br>  
<textarea cols="50" rows="2" placeholder="Descripcion..."></textarea><br>
<button name="button">guardar</button>           
</body>
  <script>
    $(document).ready(function(){
      $("#seguimiento").hide();
      $("#pro").click(function(){
        $("#seguimiento").show();
      });
    });
  </script>
  <script>
      $(document).ready(function(){
      $("#aburricion").hide();
      $("#tabseg").hide();
      $("input[name=tiseg]").on('click',function(){
      switch($('input:radio[name=tiseg]:checked').val()){
      case '1':
      $("#aburricion").show();
      $("#tabseg").hide();
      break;
      case '2':
      $("#tabseg").show();
      $("#aburricion").hide();
      break;
      }		
     });
    });
  </script>
  <script type="text/javascript">
    $(document).ready(function(){
      $("#ss1").click(function() {
        // si marca error solo cambiar de route a => url
        $("#tabseg").load('{{route('tblpaci')}}' + '?id='  +this.options[this.selectedIndex].value) ;
      });
    });
  </script>
  <script>
    $( function() {
    $( "#datepicker" ).datepicker();
    } );
  </script>
  <script type="text/javascript">
    $(document).ready(function(){
      $("#cat").click(function() {
        // si marca error solo cambiar de route a => url
        $("#pro").load('{{route('pntte')}}' + '?id='  +this.options[this.selectedIndex].value) ;
        });       
      });
  </script>
</html>